@use "../abstract/color" as * ;
.header{
    width:100%;
    height: fit-content;
    background-color: $white;
}
.black-friday{
    width: 100%;
    height: 65px;
    position: relative;
    background-color: $orange;
    &>img{
        position: absolute;
        width: 90%;
        height: 100%;
        left: 5%;
    }
}